body {
  margin: 10px 15px;
}
.header {
  display: flex;
  align-items: center;
}
.header img {
  width: 90px;
  height: 90px;
  border-radius: 5px;
}
.header .base-info {
  padding-left: 15px;
  position: relative;
}
.base-info p {
  line-height: 20px;
  margin: 0;
}
.base-info h2 {
  margin: 0 0 10px 0;
}
.item {
  max-width: 500px;
  display: flex;
  justify-content: space-between;
}
.item p {
  margin: 5px 0;
}
.content h2 {
  margin-bottom: 5px;
}